body {
    position: absolute;
    margin: 0;
    background-color: var(--color4);
    color: var(--color1);
    top: 0;
    bottom: 0;
}

#httpErrorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#httpErrorText {
}
