/*
The general layout of the quizbox, which most of the quiz types can use.
*/

body {
    position: absolute;
    margin: 0;
    background-color: var(--color1);
    color: var(--color1);
    top: 0;
    bottom: 0;
}

#infobutton {
    width: max(var(--textsize), 30px);
    height: max(var(--textsize), 30px);
    background: url('/static/img/info-color1-color4.svg');
    position: absolute;
    top: var(--textsize);
    right: var(--textsize);
}

#theoryButton {
    display: block;
    position: absolute;
    top: var(--textsize);
    right: max(calc(var(--textsize) * 3), 60px);
    border: 0;
    padding: 0;
    background: transparent;
    width: max(calc(var(--textsize) * 2), 45px);
    height: max(calc(var(--textsize) * 1.75), 45px);
    z-index: 2;
}

#theoryButton.active {
    background-color: var(--color3);
}

#theoryOverlay {
    display: none;
    position: absolute;
    width: inherit;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    padding: calc(var(--textsize) * 3);
    background-color: var(--color5);
    color: var(--color4);
    font-size: max(calc(var(--textsize) * 0.5), 10px);
    text-align: justify;
    z-index: 1;
}

#theoryButton.active ~ #theoryOverlay {
    display: block;
}

#errorButton {
    display: block;
    position: absolute;
    top: calc(var(--textsize) * 1);
    right: max(calc(var(--textsize) * 6), 130px);
    border: 0;
    padding: 0;
    background: transparent;
    width: max(calc(var(--textsize) * 2), 45px);
    height: max(calc(var(--textsize) * 1.75), 45px);
}

#submit {
    background-color: var(--color1);
    color: var(--color2);
}

.quizbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--textsize);
    position: relative;
    background-color: var(--color4);
}

#quizbox-description {
    color: var(--color1);
    font-size: calc(var(--textsize) * 1.5);
    text-align: center;
    font-weight: 700;
    margin-bottom: calc(var(--textsize) * 2);
}

#quizbox-result {
    align-items: center;
    min-height: calc(var(--textsize) * 4);
    display: flex;
}

.response {
    margin: calc(var(--textsize) * 0.3);
    display: inline;
}

#submit {
    font-size: var(--textsize);
    width: calc(var(--textsize) * 8);
    background-color: var(--color5);
    color: var(--color2);
}

#result {
    width: calc(var(--textsize) * 16);
    color: var(--color2);
    margin-left: var(--textsize);
}

.correct {
    color: green;
}

.false {
    color: red;
}

#theoryOverlay td {
    padding: 5px 20px;
}

.flex-list-item {
    display: flex;
    align-items: center;
}

.flex-list-item > span {
    margin: 5px 10px;
    overflow-wrap: break-word;
    text-align: center;
    flex-grow: 1;
}

#theoryOverlay li.separate {
    padding: 15px 0;
    border-bottom: dashed;
}

#theoryOverlay li.separate:last-child {
    border: none;
}

#theoryOverlay .multiple > span {
    display: block;
    border-bottom: dotted;
}

#theoryOverlay .multiple > span:last-child {
    border-bottom: none
}

.question {
    white-space: pre-wrap;
}

.card-header {
    text-align: center;
    background-color: var(--color1);
    color: var(--color2);
}

.card {
    background-color: var(--color2);
}

.card-footer {
    background-color: var(--color1);
}

.rounded-top {
    border-top-left-radius: 3rem !important;
    border-top-right-radius: 3rem !important;
}

.rounded {
    border-radius: 3rem !important;
    border: 0 solid black;
}

.rounded-bottom {
    border-bottom-right-radius: 3rem !important;
    border-bottom-left-radius: 3rem !important;
}

#quizbox-description {
    background-color: var(--color1);
    color: var(--color2);
    padding: 0 var(--textsize) calc(var(--textsize) * 0.3) var(--textsize);
}

.shadow-lg {
    box-shadow: 2rem 2rem 1rem rgba(0, 0, 0, .4) !important;
}

.flipped.shadow-lg {
    box-shadow: -2rem 2rem 1rem rgba(0, 0, 0, .4) !important;
}
