/*
The general layout of the quizbox, which most of the quiz types can use.
*/

body {
    position: absolute;
    margin: 0;
    background-color: var(--color1);
    color: var(--color1);
    top: 0;
    bottom: 0;
}

#theoryButton,
#errorButton {
    background-color: var(--color5);
    margin: 0 calc(var(--textsize) * 0.3);
    padding: 0;
    width: calc(var(--textsize) * 2.05);
    height: calc(var(--textsize) * 2);
    z-index: 2;
}

#theoryButton.active {
    background-color: var(--color3);
}

#theoryOverlay {
    display: none;
    position: absolute;
    width: inherit;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    padding: calc(var(--textsize) * 3);
    background-color: var(--color5);
    color: var(--color4);
    font-size: max(calc(var(--textsize) * 0.5), 10px);
    text-align: justify;
    z-index: 1;
}

#theoryOverlay.active {
    display: block;
}

#submit {
    background-color: var(--color1);
    color: var(--color2);
}

.quizbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--textsize);
}

#quizbox-description {
    color: var(--color1);
    font-size: calc(var(--textsize) * 1.5);
    text-align: center;
    font-weight: 700;
    margin-bottom: calc(var(--textsize) * 2);
}

#quizbox-result {
    align-items: center;
    min-height: calc(var(--textsize) * 4);
    display: flex;
}

.response {
    margin: calc(var(--textsize) * 0.3);
    display: inline;
}

#submit {
    font-size: var(--textsize);
    width: calc(var(--textsize) * 8);
    background-color: var(--color5);
    color: var(--color2);
}

#result {
    width: calc(var(--textsize) * 16);
    color: var(--color2);
    margin-left: var(--textsize);
}

.correct {
    color: green;
}

.false {
    color: red;
}

#theoryOverlay td {
    padding: 5px 20px;
}

.flex-list-item {
    display: flex;
    align-items: center;
}

.flex-list-item > span {
    margin: 5px 10px;
    overflow-wrap: break-word;
    text-align: center;
    flex-grow: 1;
}

#theoryOverlay li.separate {
    padding: 15px 0;
    border-bottom: dashed;
}

#theoryOverlay li.separate:last-child {
    border: none;
}

#theoryOverlay .multiple > span {
    display: block;
    border-bottom: dotted;
}

#theoryOverlay .multiple > span:last-child {
    border-bottom: none
}

.question {
    white-space: pre-wrap;
}

#quizbox-description {
    background-color: var(--color1);
    color: var(--color2);
    padding: 0 var(--textsize) calc(var(--textsize) * 0.3) var(--textsize);
}

@media (min-width: 768px) {
    .card {
        max-width: calc(95vw - 250px);
    }
}
