/*
The general layout of the quizbox, which most of the quiz types can use.
*/

@import "standards.css";

body {
    position: absolute;
    margin: 0;
    background-color: var(--color1);
    color: var(--color1);
    top: 0;
    bottom: 0;
}

#infobutton {
    width: max(var(--textsize), 30px);
    height: max(var(--textsize), 30px);
    background: url('/static/img/info-color1-color4.svg');
    position: absolute;
    top: var(--textsize);
    right: var(--textsize);
}

#theoryButton {
    display: block;
    position: absolute;
    top: var(--textsize);
    right: max(calc(var(--textsize)*3), 60px);
    border: 0;
    padding: 0;
    background: transparent;
    width: max(calc(var(--textsize)*2), 45px);
    height: max(calc(var(--textsize)*1.75), 45px);
    z-index: 2;
}

#theoryButton.active {
    background-color: var(--color3);
}

#theoryOverlay {
    display: none;
    position: absolute;
    width: inherit;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    padding: calc(var(--textsize)*3);
    background-color: var(--color5);
    color: var(--color4);
    font-size: max(calc(var(--textsize)*0.5), 10px);
    text-align: justify;
    z-index: 1;
}

#theoryButton.active ~ #theoryOverlay {
    display: block;
}

#errorButton {
    display: block;
    position: absolute;
    top: calc(var(--textsize)*1);
    right: max(calc(var(--textsize)*6), 130px);
    border: 0;
    padding: 0;
    background: transparent;
    width: max(calc(var(--textsize)*2), 45px);
    height: max(calc(var(--textsize)*1.75), 45px);
}

#submit {
    background-color: var(--color1);
    color: var(--color2);
}

.quizbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--textsize);
    position: relative;
    background-color: var(--color4);
}

#quizbox-description {
    color: var(--color1);
    font-size: calc(var(--textsize)*1.5);
    text-align: center;
    font-weight: 700;
    margin-bottom: calc(var(--textsize)*2);
}

#quizbox-result {
    text-align: center;
    height: calc(var(--textsize)*3);
    margin-top: calc(var(--textsize)*1.25);
}

.response {
    margin: calc(var(--textsize)*0.3);
}

#submit {
    font-size: var(--textsize);
}

.correct {
    color: green;
}

.false {
    color: red;
}

.icon-sidebar {
    margin: -7px 0 0 -13px;
}

#theoryOverlay td {
    padding: 5px 20px;
}

.flex-list-item {
    display: flex;
    align-items: center;
}

.flex-list-item > span {
    margin: 5px 10px;
    overflow-wrap: break-word;
    text-align: center;
    flex-grow: 1;
}

#theoryOverlay li.separate {
    padding: 15px 0;
    border-bottom: dashed;
}

#theoryOverlay li.separate:last-child {
    border: none;
}

#theoryOverlay .multiple > span {
  display: block;
  border-bottom: dotted;
}

#theoryOverlay .multiple > span:last-child {
  border-bottom: none
}

.question {
    white-space: pre-wrap;
}
