#numeros-quizarea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#recordButton {
    height: calc(var(--textsize) * 2);
    width: calc(var(--textsize) * 1.25);
    background-size: calc(var(--textsize) * 1.2);
    background-repeat: no-repeat;
}

.recordingStopped {
    background-image: url('/static/img/mic-color1.svg');
}

.recordingStarted {
    background-image: url('/static/img/mic-color3.svg');
}

.recordingAnalyze {
    background-image: url('/static/img/mic-color6.svg');
}

#numeros-quizarea > * {
    margin: 0 calc(var(--textsize) / 2);
}

#numeros-quizarea textarea.numeros.form__group {
    flex-grow: 1;
    margin-top: 10px;
}

#dropdownTitle {
    margin: 0 3rem;
}

#quiz-settings-img {
    width: var(--textsize);
    max-width: 100%;
}

#dropdownMenuButton {
    padding: calc(var(--textsize) / 3);
    font-size: 0;
    width: calc(var(--textsize) * 1.5);
    border-radius: calc(var(--textsize) / 2);
    background-color: var(--color5);
    border: 0px solid black;
}

#settingsDropdown {
    background-color: var(--color2);
    border: 1px solid black;
}

th {
    text-align: center;
}

.radioLabel {
    display: flex;
    justify-content: space-between;
}

table.table.table-responsive {
    margin: 0 3rem;
}

.alert {
    margin-top: 10px;
}

.hidden {
    display: none;
}
