body {
    margin: 0;
    background-color: peru;
}

.quizbox {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.6rem;
}

.quizbox-task {
    width: 50%;
    display: flex;
}

.conj-question {
    width: 50%;
    display: inline;
    padding: 2rem 1rem 2rem 0;
    text-align: right;
    color: black;
    /*font-family: 'Poppins', sans-serif;*/
}

/* The form css is from https://codepen.io/lucasyem/pen/ZEEYKdj*/
.form__group {
    width: 50%;
    color: black;
    display: inline;
    position: relative;
    text-align: left;
    padding: 2rem 0 2rem 1rem;
}

.form__field {
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: 0;
    font-size: 2.6rem;
    color: #000000;
    padding: 0 0 0 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:focus {
    border-image: linear-gradient(to right, #990709, #efce0d);
    border-image-slice: 1;
}

.form__label {
    position: absolute;
    cursor: text;
    top: 0;
    left: 0;
    padding: 0 0 0 1rem;
    transition: 0.2s;
    font-size: 1.5rem;
    color: #000000;
    font-style: italic;
}

.form__field:placeholder-shown ~ .form__label {
    display: inline;
    position: absolute;
    left: 0;
    top: 27%;
    padding: 0 0 0 1rem;
    font-size: 2.6rem;
    text-align: left;
    font-style: italic;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 1rem;
    transition: 0.2s;
    font-size: 1.5rem;
    color: #000000;
}
/*End of form css*/

.quizbox-result {
    text-align: center;
    height: 10rem;
}

.response {
    padding: 1rem;
}

.submit {
    display: block;
}

.correct {
    color: green;
}

.false {
    color: red;
}