/*
This css file defines the layout for a dual-symmetric question, where on the left side there is the question,
and on the right side there is the single input field (suitable for no more than a word).
*/

#quizbox-task {
    display: flex;
    text-align: center;
}

.question {
    width: 50%;
    text-align: right;
    display: inline;
    padding: var(--textsize) 0;
    padding-right: calc(var(--textsize) * 0.5);
    color: var(--color1);
}

.question.numeros {
    width: auto;
}

/* The form css is from https://codepen.io/lucasyem/pen/ZEEYKdj*/
.form__group {
    width: 50%;
    color: var(--color1);
    display: inline;
    position: relative;
    text-align: left;
    padding: var(--textsize) 0;
    padding-left: calc(var(--textsize) * 0.5);
}

.form__field {
    width: calc(var(--textsize) * 6);
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: 0;
    color: var(--color1);
    padding: 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:focus {
    border-image: linear-gradient(to right, #000, var(--color4));
    border-image-slice: 1;
}

.form__label {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    padding-left: calc(var(--textsize) * 0.5);
    cursor: text;
    transition: 0.2s;
    font-size: calc(var(--textsize) * 0.7);
    color: var(--color3);
    font-style: italic;
}

.form__field:placeholder-shown ~ .form__label {
    display: inline;
    position: absolute;
    left: 0;
    top: var(--textsize);
    padding-left: calc(var(--textsize) * 0.5);
    font-size: var(--textsize);
    text-align: left;
    font-style: italic;
}

.question.numeros {
    padding: calc(var(--textsize) * 0.5);
}

.form__group.numeros {
    width: 100%;
    background: var(--color2);
    padding: calc(var(--textsize) * 0.5);
    height: 0;
    resize: none;
}

/*End of form css*/

.dropdown {
    display: inline-block;
    margin-left: calc(var(--textsize) / 2);
}

#quiz-settings-img {
    width: var(--textsize);
    max-width: 100%;
}

.card-title {
    display: inline;
    align-items: center;
}

#flipButton,
#flipBackButton,
#dropdownMenuButton {
    padding: calc(var(--textsize) / 3);
    font-size: 0;
    width: calc(var(--textsize) * 1.5);
    border-radius: calc(var(--textsize) / 2);
    background-color: var(--color5);
    border: 0px solid black;
}

#flipButtonContainer,
#flipBackButtonContainer {
    position: absolute;
    top: 0.5rem;
    left: 3rem;
}

#dropdownMenuButtonContainer {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
}

.dropdown-item {
    display: inline;
}

#settingsDropdown {
    width: 340px;
    background-color: var(--color2);
    border: 1px solid black;
}

.chkbox {
    margin-left: -25px;
}

#dropdownTitle {
    margin-left: 3rem;
}

.card-container {
    perspective: 1500px;
    display: grid;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(-180deg);
}

.card-container .card-flip.flipped {
    transform: rotateY(180deg);
}

.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.front {
    grid-area: frontAndBack;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

/* use perfect-scrollbar? https://github.com/mdbootstrap/perfect-scrollbar */
#errorTable {
    font-size: calc(var(--textsize) / 2);
    position: relative;
    width: 100%;
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

.table-wrapper-scroll-y {
    /*display: block;*/
    /*margin: 4.5rem 3rem 0 3rem;*/
    /*overflow-y: hidden;*/
    /*overflow-x: hidden;*/
}

.table-responsive {
    max-height: 24.3vmin;
    width: auto;
}

#reset {
    font-size: var(--textsize);
    width: calc(var(--textsize) * 8);
    background-color: var(--color5);
    color: var(--color2);
}

.back .card-body {
    padding: 0.75rem 1.25rem;
}

.error3 {background-color: var(--color3);}
.error2 {background-color: #C97050;}
.error1 {background-color: #D79C6F;}

.table-dark {
    color: var(--color2);
    background-color: var(--color1);
}
