:root {
    --color1: rgba(0, 48, 73, 1);
    --color2: rgba(242, 243, 174, 1);
    --color3: rgba(187, 68, 48, 1);
    --color4: rgba(252, 191, 73, 1);
    --color5: rgba(65, 123, 90, 1);
    --color6: rgba(85, 40, 111, 1);

    --textsize: calc(1.1rem - -1vmin);
}

html {
    font-size: 100%;
}

.icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    width: inherit;
    height: inherit;
    background-position: top left;
}

.icon-book {
    background-image: url('/static/img/book-reader-solid.svg');
}

.icon-sidebar {
    background-image: url("/static/img/sidebar-color1.svg");
}

.icon-exclamation {
    background-image: url("/static/img/exclamation-color1-color3.svg");
}

.footnotes {
    margin-bottom: 0;
    margin-top: calc(var(--textsize) * 2.5);
}

.footnotes a {
    color: var(--color6);
    text-decoration: underline;
}

.btn-primary {
    color: var(--color2);
    background-color: var(--color1);
    border-color: var(--color1)
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
    color: var(--color2);
    height: calc(var(--textsize) * 3);
    flex-wrap: nowrap;
    max-width: 100vw;
}

.navbar h1 {
    font-size: calc(var(--textsize) * 1.5);
}

.navbar .empty-space {
    flex-grow: 1;
}

.quizbox {
    position: relative;
    overflow: hidden;
}

.quizbox::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url('/static/img/bgpattern_tablecloth.svg') 0 0 repeat;
    background-size: 200px;
    transform: rotate(30deg);
}

/* card-related stuff */

.card-header {
    text-align: center;
    background-color: var(--color1);
    color: var(--color2);
}

.card {
    background-color: var(--color2);
    max-width: 100vw;
}

.card-footer {
    background-color: var(--color1);
}

.rounded-top {
    border-top-left-radius: calc(var(--textsize) * 2) !important;
    border-top-right-radius: calc(var(--textsize) * 2) !important;
}

.rounded {
    border-radius: calc(var(--textsize) * 2) !important;
    border: 0 solid black;
}

.rounded-bottom {
    border-bottom-right-radius: calc(var(--textsize) * 2) !important;
    border-bottom-left-radius: calc(var(--textsize) * 2) !important;
}

.shadow-lg {
    box-shadow: 2rem 2rem 1rem rgba(0, 0, 0, .4) !important;
}

.flipped.shadow-lg {
    box-shadow: -2rem 2rem 1rem rgba(0, 0, 0, .4) !important;
}
