:root {
    --color1: rgba(0, 48, 73, 1);
    --color2: rgba(242, 243, 174, 1);
    --color3: rgba(187, 68, 48, 1);
    --color4: rgba(252, 191, 73, 1);
    --color5: rgba(65, 123, 90, 1);
    --color6: rgba(85, 40, 111, 1);

    --textsize: 4vmin;
}

.icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    width: inherit;
    height: inherit;
}

.icon-book {
    background-image: url('/static/img/book-color1.svg');
}

.icon-sidebar {
    background-image: url("/static/img/sidebar-color1.svg");
}

.icon-information {
    background-image: url("/static/img/info-color1.svg");
}

.icon-exclamation {
    background-image: url("/static/img/exclamation-color1-color3.svg");
}

.footnotes {
    margin-bottom: 0;
    margin-top: calc(var(--textsize) * 2.5);
}

.footnotes a {
    color: var(--color6);
    text-decoration: underline;
}

.btn-primary {
    color: var(--color2);
    background-color: var(--color1);
    border-color: var(--color1)
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
