:root {
    --color1: rgba(0, 48, 73, 1);
    --color2: rgba(242, 243, 174, 1);
    --color3: rgba(237, 211, 130, 1);
    --color4: rgba(252, 191, 73, 1);
    --color5: rgba(65,123,90, 1);

    --textsize: 4vmin;
}