{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link nonce='{{ nonce }}'  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div id='httpErrorContainer'>
        <div id='httpErrorText'>
            <h1>A keresett oldal nem található :(</h1>
            <p>Vagy nem létezik az oldal amit keresel, vagy még nem készült hozzá feladat. Ha egy oldalsávon levő linken
                keresztül jutottál ide, akkor ez utóbbi lehet a helyzet.</p>
        </div>
    </div>
{% endblock %}
