{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {% assets 'error_css' %}
        <link nonce='{{ nonce }}'  rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div id='httpErrorContainer'>
        <div id='httpErrorText'>
            <h1>Hiba történt :(</h1>
            <p>Lehet, hogy csak az adatbázis nem érhető el, de az is lehet, hogy találtál egy bugot. Mindenesetre az
                oldal karbantartója értesítve lett a hibáról, elnézést a kellemetlenségért.
            </p>
        </div>
    </div>
{% endblock %}
