<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
<head>
    <title>La Serpiente</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- block styles %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/standards.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {%- endblock styles %}

</head>
<body>
<div class="wrapper">

    <nav id="sidebar">

        <div id="dismiss">
            <img class="dismiss-img" alt="X" src="/static/img/x-color4.svg">
        </div>

        <div class="sidebar-header">
            <h3>La Serpiente</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="{{ url_for('home.home') }}">Página principal</a>
            </li>
            <li>
                <a href="#verbosSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Verbos</a>
                <ul class="collapse list-unstyled" id="verbosSubmenu">
                    <li>
                        <a href="/quiz-conjugacion">Conjugación</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#subjuntivoSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Subjuntivo</a>
                <ul class="collapse list-unstyled submenu" id="subjuntivoSubmenu">
                    <li>
                        <a href="/quiz-subjuntivo-probabilidad">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>probabilidad</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-verbos_de_cabeza">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>verbos de cabeza</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-verbos_del_corazon">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>verbos del corazón</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-frases_temporales">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>frases temporales</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-estructuras_fijas">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>estructuras fijas</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-expresiones_para_valorar">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>expresiones para valorar</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-peticion_prohibicion_etc">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>petición, prohibición, etc.</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="quiz-numeros">Números</a>
            </li>
        </ul>
    </nav>

    {% block content -%}
        <button type="button" id="sidebarCollapse" class="btn sidebar-toggle-container">
            <i class="icon icon-sidebar"></i>
        </button>
    {%- endblock content %}

    <div class="overlay"></div>

</div>
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="/static/js/navbar.js"></script>
{%- endblock scripts %}

</body>
</html>
