<!DOCTYPE html>
<html lang='es' {% block html_attribs %}{% endblock html_attribs %}>
<head>
    <title>La Serpiente</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='Exercises to practice spanish conjugation, numbers (both text and speech), and use of subjuntivo.'>

    {%- block styles %}
        <link nonce='{{ nonce }}'  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link nonce='{{ nonce }}'  rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {%- endblock styles %}

</head>
<body>

<nav class="navbar">
    <a class="navbar-brand" href="/"><h1>La Serpiente</h1></a>
    <div class='empty-space'></div>
    {% block navbar_items %}{% endblock %}
</nav>

<div class="wrapper">

    <nav id="sidebar">

        <div id="dismiss">
            <img class="dismiss-img" alt="X" src="/static/img/x-color4.svg">
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="{{ url_for('home.home') }}">Página principal</a>
            </li>
            <li>
                <a href="#verbosSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Verbos</a>
                <ul class="collapse list-unstyled" id="verbosSubmenu">
                    <li>
                        <a href="/quiz-conjugacion">Conjugación</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#subjuntivoSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Subjuntivo</a>
                <ul class="collapse list-unstyled submenu" id="subjuntivoSubmenu">
                    <li>
                        <a href="/quiz-subjuntivo-probabilidad">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>probabilidad</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-verbos_de_cabeza">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>verbos de cabeza</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-verbos_del_corazon">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>verbos del corazón</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-frases_temporales">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>frases temporales</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-estructuras_fijas">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>estructuras fijas</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-expresiones_para_valorar">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>expresiones para valorar</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-peticion_prohibicion_etc">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>petición, prohibición, etc.</span></a>
                    </li>
                    <li>
                        <a href="/quiz-subjuntivo-condiciones_objetivos">
                            <span>Subjuntivo&nbsp;-&nbsp;</span><span>Condiciones, objetivos</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="quiz-numeros">Números</a>
            </li>
        </ul>
    </nav>

    {% block content -%}
        <button type="button" id="sidebarCollapse" class="btn sidebar-toggle-container">
            <i class="icon icon-sidebar"></i>
        </button>
    {%- endblock content %}

    <div class="overlay"></div>

</div>
{% block scripts %}
    <noscript>It looks like JavaScript is disabled or not supported by your browser. Unfortunately almost all functionalities are written in JS, so you won't be able to use this webpage.</noscript>
    <script nonce='{{ nonce }}' src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin="anonymous"></script>
    <script nonce='{{ nonce }}' src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script nonce='{{ nonce }}' src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
{%- endblock scripts %}

</body>
</html>
