{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    {% assets 'home_css' %}
        <link nonce='{{ nonce }}'  rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    {{ super() }}
    <div lang='hu' class="quizbox">
        <h2>Página principal</h2>
        <p>
            Ez az oldal néhány spanyol nyelvtani gyakorlatot tartalmaz. A bal oldali menüben lehet az egyes kvízekhez
            navigálni, a <i class='icon icon-book'></i> ikonra kattintva az adott kvízhez
            tartozó elméleti összefoglaló érhető el, a <i class='icon icon-exclamation'></i> ikonra kattintva
            hibajelentést/visszajelzést lehet küldeni az oldal karbantartójának (akár az adott feladattal, akár az
            oldal működésével kapcsolatban).
        </p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets 'home_js' %}
        <script nonce='{{ nonce }}' src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
