{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="quizbox">
        <h1>La Serpiente</h1>
        <p>
            Ez az oldal néhány spanyol nyelvtani gyakorlatot tartalmaz. A bal oldali menüben lehet az egyes kvízekhez
            navigálni, a jobb felső sarokban levő <i class='icon icon-information'></i> ikonra víve plusz információhoz
            lehet jutni néhány oldalon, a <i class='icon icon-book'></i> ikonra kattintva az adott kvízhez
            tartozó elméleti összefoglaló érhető el, a <i class='icon icon-exclamation'></i> ikonra kattintva
            hibajelentést/visszajelzést lehet küldeni az oldal karbantartójának (akár az adott feladattal, akár az
            oldal működésével kapcsolatban).
        </p>
    </div>
{% endblock %}
