{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quizpage-base.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="quizbox">
        <img id="infobutton" alt="i" src="/static/img/info-color1-color4.svg">
        <button id="theoryButton" class="btn" data-toggle="button">
            <i data-toggle="tooltip" data-html="true" data-placement="bottom" data-original-title="Elmélet"
               class="icon icon-book"></i></button>
        <button id='errorButton' type="button" class="btn" data-toggle="modal" data-target="#errorModal">
            <i class='icon icon-exclamation' data-toggle="tooltip" data-html="true"
               data-placement="bottom" data-original-title="Hiba jelentése"></i></button>

        <div id="theoryOverlay">
            {% block theory %}
                <h1>Ehhez az oldalhoz nem készült elméleti összefoglaló</h1>
            {% endblock %}
        </div>

        <div id="quizbox-description">{{ quiz_title }}</div>

        <div id="quizbox-task">{% block quiztask %}{% endblock %}</div>

        <div id="quizbox-result">
            <button id="submit" class="btn btn-lg btn-default">Ellenőrzés</button>
            <div id="result" class="response"></div>
        </div>
    </div>
    <!-- Error modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Hibajelentés</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Üzenet:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                    <button type="button" class="btn btn-primary">Küldés</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/enter.js"></script>
    <script src="/static/js/quizpage-common.js"></script>
{% endblock %}
