{% extends "quizpage-base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quizpage-dual.css') }}">
{% endblock %}

{% block quiztask %}
    <div class="quizbox-task">
        <div id="question" class="question dual">{{ question }}</div>
        <div class="form__group dual">
            <input type="text" class="form__field dual" placeholder="dummy placeholder" name="answer_input" id="answer"
                   style="{{ input_width }}"/>
            <label id="questionHint" for="answer" class="form__label">{{ question_hint }}</label>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/quizpage-dual.js"></script>
{% endblock %}
