{% extends 'quizpage-mono.html' %}

{% block theory %}
    <div lang='hu'>
        <p>
            A subjuntivonak háromféle múlt idejét különböztetjük meg: <strong>perfecto</strong>,
            <strong>imperfecto</strong> és <strong>pluscuamperfecto</strong> de subjuntivo.
            Általában ugyanazoknál a kifejezéseknél használják őket mint a jelen idejű subjuntivot,
            csak a múltra/jövőre vonatkozó aspektust fejezzük ki ezekkel. Részletesebben:
        </p>
        <ul>
            <li><strong>Perfecto de subjuntivo</strong>
                <p>
                    A subjuntivot vonzó kifejezéseknél akkor használjuk, ha egy <em>jelenhez kapcsolódó</em> múltbeli
                    cselekményről van szó, vagy egy olyan cselekményről, ami egy adott jövőbeli időpontra be lesz
                    fejezve. A főmondat ilyenkor presente vagy perfecto de indicativo. <br>
                    <em>Például: Örülök, hogy elolvastad a könyvet. Lehet, hogy decemberre már visszaérek.
                        (Majd) miután rendberakták a szobájukat, mehetnek játszani.
                        Bárcsak még egy napot maradtunk volna!</em>
                </p>
            </li>
            <li><strong>Imperfecto de subjuntivo</strong>
                <p>
                    A subjuntivot vonzó kifejezéseknél akkor használjuk, ha múltbeli cselekményről van szó
                    (a főmondat lehet jelen vagy múlt idejű is). <br>
                    Egyéb használatok:
                </p>
                <ul>
                    <li>
                        Az <strong>ojalá</strong> és a <strong>como si</strong>/<strong>igual que si</strong>, de
                        ezeknél jelen időre vonatkozóan használjuk ezt az igeidőt.
                    </li>
                    <li>
                        Ezen kívül az olyan jelen idejű feltételes mondatoknál használjuk, aminél a mellékmondat
                        (amelyikben a <em>si</em> szerepel) nem teljesül, a főmondat ilyenkor condicionalba kerül. <br>
                        <em>Például: Ha olyan okos lenne, nem bukott volna meg.</em>
                    </li>
                    <li>Udvariasságnál szintén ezt az esetét használhatjuk a <em>querer</em> igének.</li>
                </ul>
            </li>
            <li><strong>Pluscuamperfecto de subjuntivo</strong>
                <p>
                    A subjuntivot vonzó kifejezéseknél akkor használjuk, ha a főmondat a múltra vonatkozik, és a
                    mellékmondat ez előttre vonatkozik. <br>
                    <em>Például: Nem hittem el, hogy elolvastad a könyvet.</em> <br>
                    Egyéb használatok:
                </p>
                <ul>
                    <li>Az <strong>ojalá</strong> (múltbeli irreális óhaj) és a <strong>como si</strong>/
                        <strong>igual que si</strong> (múlt időre vonatkozó mondatnál)
                    </li>
                    <li>A "Mi lett volna, ha ...?" típusú mondatoknál, ekkor nem is feltétlenül kell másik mondatrész.
                    </li>
                    <li>Múlt idejű feltételes mondatoknál. Ekkor ha a jelenre vonatkozóan beszélünk valamiről,
                        condicionalt használunk a főmondatban, ha a múltra vonatkozóan, múlt idejű
                        condicionalt.<sup>1</sup></li>
                </ul>
            </li>
        </ul>
    <p class='footnotes'>
        <sup>1</sup>Egy <a href='https://grammar.spanishintexas.org/verbs/si-clauses/'>weboldal</a> szerint a hétköznapi nyelvben
        gyakran a jelen vagy múlt idejű condicional helyett a másik mondatrészben is pluscuamperfecto de subjuntivot
        használnak.
    </p>
    </div>
{% endblock %}

