{% extends 'quizpage-mono.html' %}

{% block theory %}
    <div lang='hu'>
        <p>A subjuntivo jelen idejű alakjával kifejezhetünk jövő időre vonatkozó dolgokat is. Ilyenkor a másik mondatrész
        <em>futuro</em>-ban van, vagy felszólító módban.</p>
        <p>Néhány tipikus kifejezés ami subjuntivot vonz:</p>
        <ul>
            <li>cuando</li>
            <li>en cuanto</li>
            <li>tan pronto como</li>
            <li>mientras<sup>1</sup></li>
            <li>hasta que</li>
            <li>antes de que</li>
            <li>después de que</li>
            <li>como</li>
        </ul>
        <p>Az <em>al</em> szó után mindig indicativo áll.</p>
        <p class='footnotes'><sup>1</sup>A <em>mientras</em> csak akkor vonz subjuntivot, ha nem egyidejűséget, hanem
            feltételt/ok-okozati viszonyt fejez ki. <em><strong>Borrego et al</strong>, "El subjuntivo: valores y usos"</em>
            (<a href='https://www.spanishdict.com/answers/228890/mientras-subjuntivoindicativo'>forrás</a>)
        </p></div>

{% endblock %}
