{% extends 'quizpage-mono.html' %}

{% block theory %}
    <div lang='hu'>
        <p>A kötőmódot használjuk akkor, amikor bizonytalanságot fejezünk ki. Így az ezzel kapcsolatos szavak, kifejezések
        általában kötőmódot vonzanak, de csak ha a mondat elején vannak.</p>
        <p>Néhány kifejezés ami kötőmódot vonz:</p>
        <ul>
            <li>probablemente</li>
            <li>posiblemente</li>
            <li>quizás/tal vez</li>
            <li>puede que</li>
        </ul>
        <p>Vannak kifejezések, amik kivételek, és nem vonzanak kötőmódot:</p>
        <ul>
            <li>a lo mejor</li>
            <li>lo mismo</li>
            <li>igual</li>
        </ul>
    </div>
{% endblock %}
