{% extends 'quizpage-mono.html' %}

{% block theory %}
    <div lang='hu' class='otras_conjunciones'>
        <p>
            Olyan egyéb kifejezések is vannak, amiket subjuntivoval fejez ki a spanyol,
            de nem illettek a többi kategóriába.
        </p>
        {#        <ul>#}
        {#            <li><strong>ojalá</strong> - bárcsak</li>#}
        {#        </ul>#}
        <table>
            <tr>
                <td><strong>ojalá</strong></td>
                <td><strong>bárcsak</strong></td>
                <td>
                    <p>
                        Attól függően, hogy milyen óhajt akarunk kifejezni, más-más igeidőt kell használni:
                    </p>
                    <table>
                        <tr>
                            <td>reális óhaj a jelenben</td>
                            <td>presente de subjuntivo</td>
                        </tr>
                        <tr>
                            <td>reális óhaj a múltban</td>
                            <td>perfecto de subjuntivo</td>
                        </tr>
                        <tr>
                            <td>irreális óhaj a jelenben</td>
                            <td>imperfecto de subjuntivo</td>
                        </tr>
                        <tr>
                            <td>irreális óhaj a múltban</td>
                            <td>pluscuamperfecto de subjuntivo</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><strong>como si</strong>/<strong>igual que si</strong></td>
                <td><strong>mintha</strong></td>
                <td>Jelen időre vonatkozan imperfecto de subjuntivo-t vonz, múlt időben pluscuamperfecto-t. <br>
                    A <strong>como si</strong>-t használják jelen idejű igealakkal is, de csak a "Por mi como si..."
                    jellegű mondatokban.
                </td>
            </tr>
            <tr>
                <td><strong>sin (que)</strong></td>
                <td><strong>anélkül, hogy</strong></td>
                <td>Csak akkor van subjuntivo, ha a két mondatrész alanyai különbözőek, amúgy infinitivo.</td>
            </tr>
            <tr>
                <td><strong>por (muy)</strong> <em>&lt;adjetivo&gt;</em> <strong>que</strong></td>
                <td><strong>annak ellenére, hogy</strong> <em>&lt;melléknév&gt;</em></td>
            </tr>
            <tr>
                <td><strong>¡Que ...!</strong></td>
                <td>jókívánságok</td>
            </tr>
            <tr>
                <td><strong>de ahí que</strong></td>
                <td><strong>ezért</strong></td>
            </tr>
            <tr>
                <td><strong>aunque</strong></td>
                <td><strong>bár</strong>/<strong>még ha nem is ...</strong></td>
                <td>Ha tényről van szó (pl: "Bár nem tetszett neki a ruha, megvette.") akkor indicativo,
                    ha feltételezésről (pl: "Ha nem hiszed, akkor is külföldre megyek."), akkor subjuntivo.
                </td>
            </tr>
            <tr>
                <td><strong>en caso de</strong></td>
                <td><strong>ha</strong>/<strong>abban az esetben</strong></td>
            </tr>
        </table>
    </div>
{% endblock %}

