{% extends 'quizpage-mono.html' %}

{% block theory %}
    <p>A fej-igék alatt azokat az igéket értjük, amik a közléssel, gondolkodással, érzékeléssel függnek össze. Ezek
        az igék tagadó mondatban subjuntivot vonzanak. Tiltáskor ezek indicativot vonzanak (de a tiltást kifejező ige
        természetesen subjuntivoban áll). Kérdő mondatban szintén indicativot, még ha a "nem" szóval is tesszük fel a
        kérdést, pl "Nem gondolod, hogy messze van a színház?".</p>
    <p>Néhány ige ami kötőmódot vonz:</p>
    <ul>
        <li>decir</li>
        <li>leer</li>
        <li>afirmar</li>
        <li>contar</li>
        <li>comunicar</li>
        <li>ver</li>
        <li>oír</li>
        <li>notar</li>
        <li>observar</li>
        <li>pensar</li>
        <li>creer</li>
        <li>opinar</li>
        <li>suponer</li>
        <li>olvidar</li>
        <li>descubrir</li>
    </ul>
    <p>A <em>saber</em> ige jelen időben csak akkor vonz subjuntivot, ha egyes szám első személyben használjuk.</p>
{% endblock %}
