{% extends 'quizpage-mono.html' %}

{% block theory %}
    <div lang='hu'>
        <p>Az olyan kifejezéseknél is sokszor subjuntivot használunk, amikor valamilyen feltételt
            fejezünk ki egy cselekvéshez, illetve ha valamilyen cél érdekében történik egy cselekvés.
            Az ezt a viszonyt kifejező kifejezéssel egy mondatrészben levő ige kerül subjuntivoba,
            de bizonyos esetekben indicativoba (vagy infinitivoba).</p>
        <p>Néhány tipikusan használt kifejezés, amivel mindig subjuntivo áll:</p>
        <table>
            <tr>
                <td><strong>a no ser que</strong>/<strong>a menos que</strong></td>
                <td><strong>hacsak nem</strong></td>
            </tr>
            <tr>
                <td><strong>excepto que</strong>/<strong>salvo que</strong></td>
                <td><strong>csak ha</strong>/<strong>kivéve ha</strong></td>
            </tr>
            <tr>
                <td><strong>para que</strong>/<strong>con el fin de que</strong></td>
                <td><strong>azért, hogy</strong></td>
            </tr>
            <tr>
                <td><strong>con tal que</strong>/<strong>a condición de que</strong>/<strong>siempre y cuando</strong></td>
                <td><strong>feltéve ha</strong></td>
            </tr>
        </table>
        <p>
            Az <strong>a no ser que</strong>, <strong>a menos que</strong>, <strong>excepto que</strong>,
            <strong>salvo que</strong> kifejezések helyett használhatjuk a "<strong>si no</strong>" kifejezést is,
            ekkor indicativot kell használni.
        </p>
    </div>
{% endblock %}

