{% extends 'quizpage-mono.html' %}

{% block theory %}
    <p>A kötőmódot használjuk akkor, amikor bizonytalanságot fejezünk ki. Így az ezzel kapcsolatos szavak, kifejezések
        általában kötőmódot vonzanak, de csak ha a mondat elején vannak.</p>
    <p>Néhány kifejezés ami kötőmódot vonz:</p>
    <ul>
        <li>probablemente</li>
        <li>posiblemente</li>
        <li>quizás/tal vez</li>
        <li>puede que</li>
    </ul>
    <p>Vannak kifejezések, amik kivételek, és nem vonzanak kötőmódot:</p>
    <ul>
        <li>a lo mejor</li>
        <li>lo mismo</li>
        <li>igual</li>
        <li><em>creo que</em></li>
        <li><em>seguro que</em></li>
        <li><em>me parece que</em></li>
        <li><em>me imagino que</em></li>
        <li><em>me opino que</em></li>
        <li><em>supongo que</em></li>
    </ul>
    <p>A kiemelt szavak kijelentő módban nem vonzanak subjuntivot, de tagadó mondatban igen! (Az olyan kérdéseknél, mint
        pl a "Nem gondolod, hogy messze van a színház?", nem kötőmódot vonzanak<sup>1</sup>.)</p>
    <p class='footnotes'><sup>1</sup>Lásd például <a class='footnotes'
            href='https://cvc.cervantes.es/foros/leer_asunto1.asp?vCodigo=3779'><u>itt</u></a>.</p>
{% endblock %}
