{% extends 'quizpage-mono.html' %}

{% block theory %}
    <p>Az olyan mondatokban, amikor valaki <strong>egy másik személyt</strong> befolyásolni akar, a mellékmondatban
        kötőmódot használunk, és a főmondattal a <em>que</em> kötőszóval kötjük össze.</p>
    <p>A főmondatban használt tipikus igék:</p>
    <table>
        <tr>
            <td>pedir</td>
            <td>kérni</td>
        </tr>
        <tr>
            <td>querer</td>
            <td>akarni</td>
        </tr>
        <tr>
            <td>rogar/suplicar</td>
            <td>könyörögni</td>
        </tr>
        <tr>
            <td>ordenar/mandar</td>
            <td>utasítani</td>
        </tr>
        <tr>
            <td>dejar</td>
            <td>hagyni</td>
        </tr>
        <tr>
            <td>prohibir</td>
            <td>megtiltani</td>
        </tr>
        <tr>
            <td>recomendar/aconsejar</td>
            <td>ajánlani</td>
        </tr>
        <tr>
            <td>lograr/conseguir/alcanzar</td>
            <td>elérni</td>
        </tr>
    </table>
{% endblock %}
