{% extends 'quizpage-mono.html' %}

{% block theory %}
    <div lang='hu'>
        <p>Érzelmek kifejezésekor is kötőmódot használunk a második tagmondatban, ha a főmondat és mellékmondat alanya
            különböző. </p>
        <p>Néhány tipikusan használt ige:</p>
        <ul>
            <li>gustar</li>
            <li>sentir</li>
            <li>lamentar</li>
            <li>alegrarse</li>
            <li>temer</li>
            <li>encantar</li>
            <li>tener miedo</li>
            <li>enfadar</li>
            <li>molestar</li>
            <li>doler</li>
            <li>sorprender</li>
            <li>extrañar</li>
            <li>entristecer</li>
        </ul>
        <p>Ezeken felül olyan szerkezetet is szoktak használni, mint például:</p>
        <ul>
            <li><em>ponerle a uno</em> (pl: <em>Me pone nervioso que no me contestes.)</em>,</li>
            <li><em>darle a uno</em> (pl: <em>Me da miedo que vayas por la calle solo.)</em>,</li>
            <li><em>hacerle a uno</em> (pl: <em>Me hace feliz que vengas a mi fiesta de cumpleaños.)</em></li>
        </ul>
    </div>
{% endblock %}

