{% extends 'quizpage-mono.html' %}

{% block theory %}
    <p>Vannak olyan hétköznapi kifejezések, amiket szintén kötőmóddal szoktak kifejezni. Ezek két csoportja az,
        amikor:</p>
    <ul>
        <li>egy döntésre vonatkozó kérdésre úgy válaszolunk, hogy a döntést másra hárítjuk:
            <table>
                <tr>
                    <td>-Compramos fresas o manzanas?<br>-(Compramos) el que prefieras.</td>
                    <td>-Epret vagy almát vegyünk?<br>-Vegyük azt amit te szeretnél.</td>
                </tr>
                <tr>
                    <td>-Puedo descansar un poco más?<br>-Descanses cuanto quieras.</td>
                    <td>-Alhatnék még egy kicsit?<br>-Aludj amennyit csak szeretnél.</td>
                </tr>
            </table>
        </li>
        <li>illetve az olyan típusú kijelentések, mint a "Bármi is történjék, ..." vagy "Mondj amit akarsz, ...":
            <table>
                <tr>
                    <td>Hagas lo que hagas, nos casaremos.</td>
                    <td>Bármit csinálsz, összeházasodunk.</td>
                </tr>
                <tr>
                    <td>Vaya donde vaya, siempre pensaré en ti.</td>
                    <td>Bárhova is megyek, mindig gondolni fogok rád.</td>
                </tr>
            </table>
        </li>
    </ul>
{% endblock %}
