{% extends 'quizpage-mono.html' %}

{% block theory %}
    <div lang='hu'>
        <p>Értékítélet kifejezésekor bizonyos nyelvtani struktúrákban kötőmódot kell használni, de ha tényt állítunk, akkor indicativot:</p>
        <ul>
            <li class='flex-list-item separate'>
                <span>es/parece</span>
                <span>improbable/<wbr>lógico/<wbr>fantástico/<wbr>ridículo/<wbr>unamentira/<wbr>urgente/<wbr>
                obligatorio/<wbr>peligroso</span>
                </span>
                <span>que</span>
                <span><strong>subjuntivo</strong></span>
            </li>
            <li class='flex-list-item separate'>
                <span>es/parece</span>
                <span>un/<wbr>una</span>
                <span>vergüenza/<wbr>pena/<wbr>problema/<wbr>locura/<wbr>suerte/<wbr>error</span>
                <span>que</span>
                <span><strong>subjuntivo</strong></span>
            </li>
            <li class='flex-list-item separate'>
                <span>lo</span>
                <span>improbable/<wbr>lógico/<wbr>fantástico/<wbr>ridículo/<wbr>una&nbsp;mentira/<wbr>urgente/<wbr>
                obligatorio/<wbr>peligroso</span>
                <span>es</span>
                <span>que</span>
                <span><strong>subjuntivo</strong><br>(posibilidad, deseo)</span>
            </li>
            <li class='flex-list-item separate'>
                <span class='multiple'><span>es/parece</span><span>lo</span></span>
                <span>cierto/<wbr>seguro/<wbr>verdad/<wbr>un hecho/<wbr>evidente</span>
                <span class='multiple'><span>que</span><span>es que</span></span>
                <span><strong>¡indicativo!</strong></span>
            </li>
            <li class='flex-list-item separate'>
                <span>está</span>
                <span>claro/<wbr>demonstrado/<wbr>visto</span>
                <span>que</span>
                <span><strong>¡indicativo!</strong></span>
            </li>
            <li class='flex-list-item separate'>
                <span><strong>NO</strong></span>
                <span class='multiple'><span>es/parece</span><span>está</span></span>
                <span class='multiple'>
                <span>cierto/<wbr>seguro/<wbr>verdad/<wbr>un hecho/<wbr>evidente</span>
                <span>claro/<wbr>demonstrado/<wbr>visto</span></span>
                <span>que</span>
                <span><strong>subjuntivo</strong></span>
            </li>
        </ul>
    </div>
{% endblock %}
